<div id="p"><p id="B">Black</p></div>
<div id="s"><p id="S"></p></div>
<script>
    $("body").attr("bgcolor", "black");
    $("#B").css("color", "red");
    $("#p").on("click", function() {alert("Hello World")});
    setInterval(function() { abc()}, 500);
</script>
<script>
    $("#S").load("/switch/show p")
</script>

<%= button_to "Music", switch_music_path, method: "get" %>
<%= button_to "Upload", switch_new_path, method: "get" %>
