<div id="p"><p id="B">Black</p></div>
<script>
    $("body").attr("bgcolor", "black");
    $("#B").css("color", "red");
    $("#p").on("click", function() {alert("Hello World")});
    setInterval(function() { abc()}, 500);
</script>
