<ol>
    <div id="playlist">
    <% @playlist.each do |m| %>
        <li id=<%= m.id %>>
            <p onclick="ajaxGetJSON('<%= switch_song_path %>', <%= m.id %>)">
            <%= m.name %>
            </p>
        </li>
    <% end %>
    </div>
</ol>
<!--
<form enctype="multipart/form-data" id="Upload_Music_Form" name="song">
    <span><input name="title" type="file" id="song" /><br><br></span>
    <span><input type="button" value="Hey" id="submit"/></span>
</form>
-->

<p onclick="ajaxUpdate()">UPDATE</p>
